/* general */
body {
    margin: 0 auto;
    font-family: Cabin, Geneva, Tahoma, sans-serif;
    color: rgb(90, 88, 88);
}

/* h1 {
    font-size: 40px;
    font-weight: bold;
}

p {
    font-size: 20px;
} */

a {
    text-decoration: none;
    color: rgb(90, 88, 88);
}

.lightgreytext {
    color: rgb(180, 178, 178);
}

img {
    display: block;
    max-width: 100%;
}

.flex {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.left {
    width: 60%;
}

.right {
    width: 40%;
}


/* header */

.primary-header {
    display: flex;
    gap: 1rem;
    height: 64px;
    align-items: center;
    justify-content: space-between;
    margin: 0 24px ;
}

.logo {
    height: 32px;
    display: flex;
    align-items: center;
    flex: 1;
}

.hidden {
    display: none;
}

@media (max-width: 35em) {
    .menu {
        display: none;
    }

    .hidden {
        display: block;
    }

    .logo {
        flex: none;
    }
}

/* banner Section */
.banner {
    padding: 2rem 1rem;
    background-color: lightgray;
    gap: 1.5rem;
}

.banner button {
    background-color: rgb(123, 121, 121);
    border: none;
    color: white;
    padding: 0.5rem;
    width: 100%;
}

@media (max-width: 35em) {
    .banner {
        flex-direction: column;
        padding: 0;
        gap: 0;
    }
    .left {
        width: auto;
    }
    .right {
        width: auto;
        padding: 0 1rem 2rem 1rem;
    }

}

/* information-main */

.information-main .article {
    border-left: 1px solid lightgray;
}

.information-main .article, .image {
    padding: 2rem 1rem;
}

.article {
    gap: 1.5rem;
}

.article .left {
    width: 35%;
}

.article .right {
    width: 65%;
}


/* Start Learning Sectio */

/* Thesis Exhibit Section */
video {
    width: 60%;
}


